<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlotMate</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="bg-glow glow1"></div>
    <div class="bg-glow glow2"></div>

    <div class="bg"></div>

    <header class="navbar">
        <div class="brand"> 
        <div class="logo">SlotMate</div>
        <div class="slogan">Better Slots, Better Semester</div>
       </div>
       
        <div class="nav-links">
            <a href="/index/">Home</a>
            <a href="/create-request/">Create Request</a> 
            <a href="/matches/">Matches</a>
            <a href="/notifications/">Notifications</a>
            
            <div class="profile-dropdown">
                <button class="profile-btn"> Profile ▼
                </button>
                    <div class="dropdown-menu">
                        <a href="/profile/">My Profile</a>
                        <a href="/my-requests/">My Requests</a>
                        <a href="/logout/">Logout</a>
                    </div>
            </div>
        </div>
    </header>

    <section class="top-info">

       <div class="info-item">
            Hello, {{ user.first_name }} {{ user.last_name }}
        </div>

       <div class="info-item">
         {{ user.studentprofile.university }}
       </div>

       <div class="info-item">
         {{ user.studentprofile.department }}
        </div>

    </section>
    

    <main class="container">

        <section class="cards">
           {% for m in matches %}

        <div class="card {% cycle 'card-purple' 'card-pink' 'card-blue' 'card-orange' %}">

        <div class="card-top">
    
                <div class="score-circle">
                   {{ m.mutual_score|floatformat:0 }}%
                </div>

                <div class="match-title">
                     {{ m.request_a.current_course_code }} ↔ {{ m.request_b.current_course_code }}
                </div>

        </div>

    <div class="match-info">
        <p>
        Section:
        {{ m.request_a.current_section }}
        ↔
        {{ m.request_b.current_section }} </p>

    <p class="muted">
        Faculty:
        {{ m.request_a.current_faculty }} ↔ {{ m.request_b.current_faculty }}
    </p>

    <p class="muted">
        Time:
        {{ m.request_a.current_time }} ↔ {{ m.request_b.current_time }}
    </p>
    
    </div>  

    <a href="/match/{{ m.id }}/" class="view-btn">
        View Details 
    </a>

</div>

{% empty %}

<div class="glass-card">
    <h3>No matches yet</h3>
    <p>Create a request to start matching.</p>
</div>

     {% endfor %}

</section>

    <div class="live-feed">
     Live Match Feed
     </div>

    <section class="bottom-sections">

        <section class="snapshot">
            <div class="glass-card">
                <h2>Your Swap Snapshot</h2>

                <div class="snapshot-grid">

                    <div class="mini-card">
                        <div class="mini-icon"></div>
                        <div class="mini-title">Active Requests</div> <br>
                        <div class="mini-value">{{ active_requests|default:"2" }}</div> <br>
                        <a class="mini-link" href="/my-requests/">View All</a>
                    </div>
                    
                    <div class="circle-card">
                      <div class="circle">
                        <div class="circle-inner">
                          💜 <br>
                          <br>
                          <small>Total Matches</small> <br>
                        <b>{{ matches|length }}</b>
                        </div>
                    </div>
                         <a class="mini-link" href="/matches/">View All</a>

                    </div>

                    <div class="mini-card">
                        <div class="mini-icon"></div>
                        <div class="mini-title">Successful</div> <br>
                        <div class="mini-value">{{ successful_matches }}</div> <br>
                        <a class="mini-link" href="/matches/">View All</a>
                    </div>

                </div>
                <br>
                <br>

                <p class="quote-box">“ The right match can <br>change your whole semester " ✨</p>

            </div>
        </section>    

        <section class="insight">
                <div class="glass-card insight-card">

                <h2>📊 Graphical Match Insight</h2>
                <p class="sub-text">See how your preferences are matching!</p>
                <br>

                <div class="radar-wrapper">
                    <canvas id="matchRadar"></canvas>
                </div>

                <button class="cta-btn">
                    <a href="/match/{{ matches.0.id }}/" class="cta-link">View Top Match Details</a>
                </button>
            </div>

        </section>

    </section>

    <div class="quick-tip glass-card">
    Quick Tip: Be specific with time preferences to get better matches! 
    </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('matchRadar').getContext('2d');

new Chart(ctx, {
    type: 'radar',
    data: {
        labels: [
            'Course',
            'Section',
            'Faculty',
            'Time',
            'Day',
        ],
        datasets: [{
            label: 'Match Strength',
            data: [
                Number("{{ insight.course|default:'0' }}"),
                Number("{{ insight.section|default:'0' }}"),
                Number("{{ insight.faculty|default:'0' }}"),
                Number("{{ insight.time|default:'0' }}"),
                Number("{{ insight.day|default:'0' }}"),
            ],
            backgroundColor: 'rgba(168,85,247,0.25)',
            borderColor: '#A855F7',
            pointBackgroundColor: '#EC4899',
            borderWidth: 2
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,

        scales: {
            r: {

                Min: 0,
                Max: 100,

                ticks:{
                    display: false
                },

                grid: {
                    color: 'rgba(255, 255, 255, 0.1)'
                },

                angleLines: {
                    color: 'rgba(255, 255, 255, 0.15)'
                },

                pointLabels: {
                        color: '#fff',
                        font: {
                            size: 13
                        }
                    }
                }
            }
        },
    
        plugins: {
           legend: {
             display: false
        }
    }
});

</script>

    <script>
        document.querySelectorAll('.bar-fill').forEach(function(el) {
            var width = parseFloat(el.dataset.width) || 0;
            el.style.width = width + '%';
        });
    </script>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>