{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>All Matches</title>

<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/matches.css' %}">
</head>

<body class="matches-page">

<div class="bg-glow glow1"></div>
<div class="bg-glow glow2"></div>
<div class="bg"></div>

<header class="topbar">
    <div class="brand">
        <div class="logo">SlotMate</div>
        <div class="slogan">All Matches</div>
    </div>
    <div class="expiry-banner">
    ⏳ Matches are automatically removed after 30 days!
    </div>
    <a href="/index/" class="back-btn"> Back to Feed</a>
</header>

<main class="container">

{% if matches %} 

<div class="grid">

    {% for m in matches %}

<div class="card">
    
    <div class="rank-badge">#{{ forloop.counter }}</div>

    <div class="card-top">
        <h3>
            {{ m.request_a.current_course_code }}
            ↔
            {{ m.request_b.current_course_code }}
        </h3>
    </div>
    <div class="card-meta">
        <span class="status {% if m.mutual_score >= 84 %}high{% elif m.mutual_score >= 69 %}medium{% else %}low{% endif %}">
            {{ m.mutual_score|floatformat:0 }}%
        </span>
    </div>

    <p>
        Section:
        {{ m.request_a.current_section }} ↔ {{ m.request_b.current_section }}
    </p>

    <p>
        Faculty:
        {{ m.request_a.current_faculty }} ↔ {{ m.request_b.current_faculty }}
    </p>

    <a href="/match/{{ m.id }}/" class="view-btn">
        View Full Match
    </a>

</div>

{% endfor %}

</div>

{% else %}
    <div class="empty">No matches found</div>
{% endif %}

</main>

</body>
</html>